feature request: validators.uri()

it may be worth adding a separate method, validators.uri()

https://en.wikipedia.org/wiki/Uniform_Resource_Identifier

validators.url() could then be validators.uri.url() (while retaining validators.url() for backwards compatibility).

this would also allow file paths to be validated, e.g.

validators.uri.file('file:///tmp/file.txt')

IRC connections:

validators.uri.irc('irc://irc.freenode.org:6667/#somechannel

etc.

For official specification, see [RFC3986 § 3](https://tools.ietf.org/html/rfc3986#section-3).

An URI validator would be great.